* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokedex-manager {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 87, 87);
    border-radius: 55px;
}