* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokedex-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-top: 3vh;
}

.info, .moves {
    width: 60%;
    height: 76%;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: gainsboro;
    margin-top: 3vh;
    padding: 8%;
    height: 85%;
    width: 100%;
    overflow: auto;
    font-size: 1.2rem;
    line-height: 125%;
}

.button {
    width: 8vw;
    height: 6vh;
    background-color: gainsboro;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    padding-top: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.button.active {
    background-color: #7CFF79;
}

.button.active:hover { 
    cursor: pointer;
    background-color: #72ec6f;
}