* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokedex-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 6%;
    background-color: gainsboro;
    margin: 1vh;
    border-radius: 10px;
    font-size: 1.25rem;
    border: 1px solid black
}

.buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1vh;
}

.button {
    width: 7vw;
    height: 5vh;
    background-color: gainsboro;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    padding-top: 0;
}

.types {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 80%;
    margin-bottom: 1vh;
}

.type {
    width: 5vw;
    height: 3vh;
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    padding-top: 0;
}