* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: white;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

#logo {
    height: 90%;
    justify-content: flex-start;
}

#navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 40%;
    height: 90%;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: white;
    /* border: 1px solid red; */
}

.nav-button {
    display: flex;
    background-color: red;
    width: 25%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    background-color: rgb(215, 4, 4);
}

a {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    background-color: white;
    background-color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}